
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: #fdfdfe;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 3% 17px 1%;
    /*background-color: #01161E;*/
    background-color: #861364;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

.close-menu-icon {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 20px;
    color: #fdfdfe;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}


.navbar.active {
    top: -80px;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    padding-left: 25px;
    color: #fdfdfe;

}

.menu-overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, 0.3);
    z-index: 1001;
    transition: left 0.3s;
    cursor: pointer;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #912a73;
    padding: 18px 20px;
    border-radius: 0px 15px 5px 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.menu-overlay.active {
    left: 0%;
}

.menu {
    cursor: default;
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    background-color: #f2e6ee;
    height: 100%;
    box-shadow: 7px 2px 7px rgba(0, 0, 0, 0.4);
}

.menu-links {
    list-style: none;
    padding: 20px 10px;
}

.menu-links li {
    margin-bottom: 30px;
    position: relative;
}

.menu-links li::after{
    content: '';
    position: absolute;

    left: 0;
    width: 100%;
    height: 2px;
    background-color: #861364;
}

.menu-links a {
    text-decoration: none;
    color: #912a73;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s;
    padding: 10px;
    display: block;
    border-radius: 4px;
}

.menu-links a:hover {
    color: #EFF6E0;
    background-color: #a95991;
}
.menu-links i {
    margin-right: 13px;
    font-size: 18px;
}

.menu-links a:hover::after {
    width: calc(100% - 20px);
}

.social-links {
    position: relative;
    bottom: 20px;
    left: 20px;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links a {
    text-decoration: none;
    color: #9e4282;
    font-size: 24px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #861364;
}
.logo-text-ham {
    font-size: 25px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo-text {
    color: #ffffff;
}

.nav-links {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-grow: 1;
}

.nav-links li a.active-link::after {
    width: 100%;
}

.nav-links li {
    display: inline;
    margin-right: 25px;
    position: relative;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    padding-bottom:20px ;
}

.nav-links li a::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #ffffff;
    transition: width 0.3s;
}

.nav-links li a:hover::after,
.nav-links .active-link::after {
    width: 100%;
}

.language {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 16px;
    position: relative;

}

.lang-tr,
.lang-uy {
    color: #ffffff;
    cursor: pointer;
    margin-left: 10px;
}

.lang-tr::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 10px;
    width: 0%;
    height: 3px;
    background-color: #ffffff;
    transition: width 0.3s;
}
.lang-uy::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 42px;
    width: 0%;
    height: 3px;
    background-color: #ffffff;
    transition: width 0.3s;
}

.lang-tr:hover::after,
.lang-uy:hover::after {
    width: calc(50% - 10px);
}


.menu-icon {
    cursor: pointer;
    position: relative;
    left: 5px;
    top: 1px;
    padding-right: 10px;
}

.menu-icon i {
    font-size: 24px;
    color: #ffffff;
}

.container{
    width: 100%;
    margin: 65px auto;
    overflow: hidden;
    box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.4);
}
.carousel{
    height: 655px;
    overflow: hidden;
    position: relative;
}
.slider{
    height: 100%;
    display: flex;
    width: 500%;
    transition: all 0.5s ease;
}
.slider section {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: box-shadow 0.3s;
    cursor: pointer;
    position: relative;
}
.slider section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

.slider section h2,
.slider section p {
    width: calc(100% - 40px);
    max-width: 600px;
    box-sizing: border-box;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: left;
    overflow-wrap: break-word;
    padding-left: 40px;
    position: relative;
    margin-bottom: 80px;
    z-index: 3;
}
.slider section h2 {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 55px;
}
.slider section p {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 850px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slider section.slide1 {
    background-image: url("/static/images/Ekran Görüntüsü (2).png");
}
.slider section.slide2 {
    background-image: url("/static/images/indir.jpeg");
}
.slider section.slide3 {
    background-image: url("/static/images/Ekran Görüntüsü (187).png");
}
.slider section.slide4 {
    background-image: url("/static/images/Ekran Görüntüsü (223).png");
}
.slider section.slide5 {
    background-image: url("/static/images/slide2.png");
}
.control .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: rgb(206, 159, 192);
    border-radius: 20%;
    padding: 3px 0px 0px 0px;
}
.control .arrow .material-icons{
    font-size: 50px ;
}

.arrow.left {
    left: 10px;

}
.arrow.right {
    right: 10px;
}

.control ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.control ul li {
    width: 14px;
    height: 14px;
    border: 2px solid #333;
    border-radius: 50px;
    margin: 10px;
    background: #ffebee;
    cursor: pointer;
}
.control ul li.selected{
    background: #861364;
}

.news-section {
    margin-top: 40px;
    margin-bottom: 65px;
    text-align: center;
}

.news-headTitle {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #861364;
    position: relative;
    text-align: center;
}
.news-headTitle::before,
.news-headTitle::after {
    content: "";
    position: absolute;
    top: 49%;
    width: 39%;
    height: 4px;
    background-color: #ddd;
}
.news-headTitle::before {
    left: 0;
}

.news-headTitle::after {
    right: 0;
}

.news-container {
    display: flex;
    gap: 20px;
    padding: 15px 15px 40px;
    overflow-x: scroll;
    background-color: #fff1f9;
}

.news-box {
    flex: 0 0 auto;
    width: 400px;
    height: 450px;
    background-color: #fafdf4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    cursor: pointer;
    border-radius: 5px;
    /*border: 2px solid rgba(133, 19, 100, 0.7);*/
}
.news-box .news-content {
    padding: 7px;
    display: flex;
    flex-direction: column;
}
.news-content span {
    color: #912a73;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.news-box.news-box-1 .news-image {
    background-image: url("/static/images/Ekran Görüntüsü (223).png");
}
.news-box.news-box-2 .news-image {
    background-image: url("/static/images/indir.jpeg");
}
.news-box.news-box-3 .news-image {
    background-image: url("/static/images/slide2.png");
}
.news-box.news-box-4 .news-image {
    background-image: url("/static/images/Ekran Görüntüsü (2).png");
}
.news-box.news-box-5 .news-image {
    background-image: url("/static/images/box2.png");
}
.news-box.news-box-6 .news-image {
    background-image: url("/static/images/box3.png");
}

.news-box:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* Kutu üzerine gelindiğinde gölgeyi büyüt */
}

.news-image {
    height: 240px; /* Görsel kutu yüksekliği */
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    border-radius: 4px 4px 4px 2px;
    position: relative;
}
.news-image::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
    z-index: 1;
    pointer-events: none;
}
.news-content .news-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #6b0d4b;
}
.news-content a {
    color: #6b0d4b;
    text-decoration: none;
}
.news-content a:hover {
    color: #9e4282;
    transition: all ease 0.3s;
}
.news-content p {
    color: #444444;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 7px 0px 18px 0px;
}

.about-section {
    text-align: center;
    margin: 50px 100px;
    height: 700px;
    /*border-radius: 7px;
    background-color: #2a9d8f;
    box-shadow: 0px 6px 13px 3px rgba(0, 0, 0, 0.4);*/
    overflow: hidden;
    position: relative;
}

.about-content {
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    margin: 15px;
    position: relative;
    box-shadow: 0px 6px 13px 3px rgba(0, 0, 0, 0.4);
    background-color: #ffdff2;

}
.about-section .content-text-section {
    margin: 0 30px;
}
.about-section .content-text-section h4 {
    color: rgb(134, 19, 100);
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 23px;
    letter-spacing: 2px;
}
.about-section .content-text-section p{
    color: #862972;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 45px;
}
.about-section .content-text-section button {
    background: #861364;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    cursor: pointer;
}
.about-title {
    font-size: 20px;
    font-weight: bold;
    color: #861364;
}
.about-image img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}
.about-image {
    padding: 10px;
    position: relative;
    box-shadow: inset -2px 0px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
    height: 590px;
    width: 4000px;
    transition: filter 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f5ee;
}

.campus-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(145, 42, 115);
    color: #fdfdfe;
    padding: 10px 20px;
    border: 3px solid #861364;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    font-weight:bold ;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}
.about-image:hover .campus-button {
    opacity: 1;
}
.about-image:hover img{
    filter: blur(4px);
}

.video-section {
    background: #6b0d4b;
    display: grid;
    grid-template-columns: minmax(0, 2fr) 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 1% 4% 4% 4%;
    margin: 80px 0 50px 0;
}
.video-section .section-title {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.video-section .section-title h3 {
    font-size: 29px;
    margin: 8px 0;
    font-weight: bold;
    color: #ffebee;
    text-align: center;
}
.video-section .section-title .video-for-more {
    font-weight: bold;
    font-size: 18px;
    color: #ffebee;
    text-align: right;
    margin-left: auto;
}
.video-section .main-video {
    background: #ffe5e6;
    border-radius: 5px;
    padding: 10px;
    grid-column: 1;
}
.video-section .main-video video {
    width: 100%;
    border-radius: 5px;
}
.video-section .main-video .video .title {
    color: #6b0d4b;
    font-size: 20px;
    padding: 7px 7px 2px 7px;
}
.video-section .video-list {
    background: #ffe5e6;
    border-radius: 5px;
    height: 552px;
    overflow-y: scroll;
    grid-column: 2;
}

.video-section .video-list .list-video video {
    width: 120px;
    border-radius: 5px;
}
.video-section .video-list .list-video {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}
.video-section .video-list .list-video:hover {
    background: #eee;
}
.video-section .video-list .list-video.active {
    background: #912a73;
    border-radius: 6px;
}
.video-section .video-list .list-video.active .title {
    color: #ffebee;
}

.video-section .video-list .list-video .title {
    color: #6b0d4b;
    font-size: 17px;
}

#haberler {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px 40px 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.haberler-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.haberler-heading span {
    color: #912a73;
}
.haberler-heading h3 {
    font-size: 2.4rem;
    color: #6b0d4b;
    font-weight: bold;
}
.haberler-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}
.haberler-box{
    width: 370px;
    background-color: #ffebf7;
    border: 1px solid #ececec;
    margin: 30px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.haberler-img {
    width: 100%;
    height: auto;

}
.haberler-img img {
    width: 100%;
    height: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
}

.haberler-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.haberler-text span {
    color: #912a73;
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.haberler-text .haberler-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #6b0d4b;
}
.haberler-text .haberler-title:hover {
    color: #912a73;
    transition: all ease 0.3s;
}
.haberler-text p {
    color: #444444;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.haberler-text a {
    color: #6b0d4b;
    text-decoration: none;
}
.haberler-text a:hover {
    color: #912a73;
    transition: all ease 0.3s;
}

.gallery-page .video-section {
    background: #fdfdfe;
    display: grid;
    grid-template-columns: minmax(0, 2fr) 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 1% 4% 4% 4%;
    margin: 80px 0 50px 0;
}

.gallery-page .video-section .section-title h3 {
    font-size: 29px;
    margin: 8px 0;
    font-weight: bold;
    color: #6b0d4b;
    text-align: center;
}
.gallery-page .video-section .section-title .video-for-more {
    font-weight: bold;
    font-size: 18px;
    color: #6b0d4b;
    text-align: right;
    margin-left: auto;
}
.gallery-page .video-section .main-video {
    background: #6b0d4b;
    border-radius: 5px;
    padding: 10px;
    grid-column: 1;
}

.gallery-page .video-section .main-video .video .title {
    color: #f2f3f5;
    font-size: 20px;
    padding: 7px 7px 2px 7px;
}
.gallery-page .video-section .video-list {
    background: #6b0d4b;
    border-radius: 5px;
    height: 552px;
    overflow-y: scroll;
    grid-column: 2;
}

.gallery-page .video-section .video-list .list-video {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #721456;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}
.gallery-page .video-section .video-list .list-video:hover {
    background: #922a73;
}
.gallery-page .video-section .video-list .list-video.active {
    background: #fdfdfe;
    border-radius: 6px;
}
.gallery-page .video-section .video-list .list-video.active .title {
    color: #6b0d4b;
}
.gallery-page .video-section .video-list .list-video .title {
    color: #fdfdfe;
    font-size: 17px;
}
.gallery-page .gallery-heading span{
    color: #912a73;
}

.article {
    max-width: 1200px;
    margin: 15px auto;
    padding: 20px;
    background-color: #fdfdfe;
}
.article-banner {
    margin-top: 30px;
    width: 100%;
    max-height: 50vh;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.article-banner img {
    width: 100%;
}

.article-info {
    display: flex;
    align-items: center;
    height: 100%;
}

.vertical-line {
    height: 80px;
    max-height: 100%;
    width: 4px;
    background-color: #6b0d4b;
    margin-right: 15px;
    margin-bottom: 10px;
}

.article-title {
    font-size: 2em;
    margin-bottom: 10px;
    color: #6b0d4b;
}

.article-published {
    font-style: italic;
    color: #922a73;
    margin-bottom: 20px;
}

.article-content img {
    max-width: 100%;
    height: auto;
    max-height: 350px;
    margin: 20px 0;
}

.article-content p {
    font-size: 1.125em;
    line-height: 1.6;
    color: #2a1e26;
    font-weight: 500;
}
.article-page {
    justify-content: center;
    text-align: center;
    display: flex;
}

.share-buttons {
    margin-top: 20px;
    text-align: right;
}

.share-buttons span {
    margin-right: 10px;
    color: #6b0d4b;
}

.share-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6b0d4b;
    color: #fff;
    text-align: center;
    line-height: 42px;
    margin-right: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.share-button:hover {
    background-color: #922a73;
}

.share-button i {
    font-size: 18px;
}


::selection{
    background: #922a73;
    color: #fff;
}
@media (max-width: 1100px){
    .haberler-box {
        width: 70%;
    }
}
@media (max-width: 550px){
    .haberler-box{
        margin: 20px 10px;
    }
    #haberler{
        padding:20px ;
    }
}
@media (max-width: 768px) {

    .nav-links {
        display: none;
    }

    .menu-overlay.active {
        left: 0;
    }

}
.footer {
    background-color: #fdfdfe;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 30px;
    background-color: #912a73;
    border-radius: 3px;
    box-shadow: 0px 6px 13px 3px rgba(0, 0, 0, 0.3);
}
.footer-logo {
    margin: 9px;
}
.footer-logo-text {
    font-size: 34px;
    color: #fdfdfe;
    font-weight: bold;
}

.social-icons {
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    margin-right: 20px;
}

.social-icon {
    margin-right: 10px;
    color: #c287b0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 55px;
    margin-bottom: 30px;
}

.footer-newsletter, .footer-contact {
    flex-basis: 30%;
}
.footer-menu {
    flex-basis: 20%;
}

.footer-menu h3, .footer-newsletter h3, .footer-contact h3 {
    margin-bottom: 15px;
}
.footer-newsletter p, .footer-contact p {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 14px;
}

.footer-menu ul {
    list-style-type: none;
}

.footer-menu ul li {
    margin-bottom: 10px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #333;
}

.footer-newsletter form input, .footer-newsletter form button {
    margin-bottom: 10px;
}

.footer-newsletter form input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #861364;
    border-radius: 5px;
}

.footer-newsletter form button {
    width: 30%;
    padding: 10px;
    background-color: #9e4282;
    color: #fbfcfd;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.footer-copyright {
    text-align: center;
    padding: 5px 50px 10px 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f6f6f7;
}
::-webkit-scrollbar-thumb {
    background: #861364;
    border-radius: 10px;
    cursor: grab;
}
.news-container::-webkit-scrollbar {
    height: 4px;
    border-radius: 6px;
}

.news-container::-webkit-scrollbar-thumb {
    background: #861364;
    border-radius: 6px;
    cursor: grab;
    transition: background-color 0.3s;
}

.news-container::-webkit-scrollbar-thumb:hover {
    background: #6b0d4b;
}

.news-container::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 4px;
}

.news-container::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}


