<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="Navbar.html"></head>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article</title>

</head>
<body>

<div class="article-banner">
  <img src="/images/Ekran%20Görüntüsü%20(186).png" alt="Banner Image">
</div>

<div class="article">
  <div class="article-info">
    <div class="vertical-line"></div>
    <div>
      <h1 class="article-title">Hako Is Alive and She is 59</h1>
      <p class="article-published"><span>published at - </span></p>
    </div>
  </div>
  <div class="article-content">
    <p>
      <span class="bold">Lorem ipsum</span> <em>dolor sit amet</em>, consectetur adipisicing elit. Aspernatur illum minima quasi quisquam suscipit totam
      voluptate! Ab accusamus at cumque delectus, <strong>distinctio dolorem</strong> id nobis officia quis rem reprehenderit, veniam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto rem, veritatis. <u>Aliquid aspernatur</u> beatae, cupiditate
      eligendi et in iusto maxime mollitia natus nulla quaerat quisquam repudiandae ullam velit voluptas, voluptatem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti <span class="italic">excepturi explicabo</span> molestiae nemo nostrum
      nulla omnis, quia sit? Autem distinctio excepturi illo in nam nostrum porro praesentium quas ullam!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur illum minima quasi quisquam suscipit totam
      voluptate! Ab accusamus at cumque delectus, distinctio dolorem id nobis officia quis rem reprehenderit, veniam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto rem, veritatis. Aliquid aspernatur beatae, cupiditate
      eligendi et in iusto maxime mollitia natus nulla quaerat quisquam repudiandae ullam velit voluptas, voluptatem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti excepturi explicabo molestiae nemo nostrum
      nulla omnis, quia sit? Autem distinctio excepturi illo in nam nostrum porro praesentium quas ullam!
    </p>
    <img src="/images/Ekran%20Görüntüsü%20(2).png" alt="content-image">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur illum minima quasi quisquam suscipit totam
      voluptate! Ab accusamus at cumque delectus, distinctio dolorem id nobis officia quis rem reprehenderit, veniam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto rem, veritatis. Aliquid aspernatur beatae, cupiditate
      eligendi et in iusto maxime mollitia natus nulla quaerat quisquam repudiandae ullam velit voluptas, voluptatem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti <span class="underline">excepturi explicabo</span> molestiae nemo nostrum
      nulla omnis, quia sit? Autem distinctio excepturi illo in nam nostrum porro praesentium quas ullam!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur illum minima quasi quisquam suscipit totam
      voluptate! Ab accusamus at cumque delectus, distinctio dolorem id nobis officia quis rem reprehenderit, veniam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto rem, veritatis. Aliquid aspernatur beatae, cupiditate
      eligendi et in iusto maxime mollitia natus nulla quaerat quisquam repudiandae ullam velit voluptas, voluptatem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti <span class="strike">excepturi explicabo</span> molestiae nemo nostrum
      nulla omnis, quia sit? Autem distinctio excepturi illo in nam nostrum porro praesentium quas ullam!
    </p>

    <div class="share-buttons">
      <span>Paylaş:</span>
      <a href="#" class="share-button facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="share-button twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" class="share-button linkedin"><i class="fab fa-linkedin-in"></i></a>
      <a href="#" class="share-button whatsapp"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
</div>

<div class="article-page">
<div class="news-section">
  <div class="news-headTitle"><h2>DİĞER HABERLER</h2></div>
  <div class="news-container">

    <div class="news-box news-box-4">
      <div class="news-image"></div>
      <div class="news-content">
        <span>15 Mart 2023 / Kategori </span>
        <a href="#" class="news-title"> What Has Happened of All the web design ideas</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet corporis dicta eius
          eum ex, excepturi fugit in incidunt magni minus officia quaerat, quis soluta veniam voluptate voluptates voluptatibus voluptatum!</p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="news-box news-box-5">
      <div class="news-image"></div>
      <div class="news-content">
        <span>15 Mart 2023 / Kategori </span>
        <a href="#" class="news-title"> What Has Happened of All the web design ideas</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet corporis dicta eius
          eum ex, excepturi fugit in incidunt magni minus officia quaerat, quis soluta veniam voluptate voluptates voluptatibus voluptatum!</p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="news-box news-box-6">
      <div class="news-image"></div>
      <div class="news-content">
        <span>15 Mart 2023 / Kategori </span>
        <a href="#" class="news-title"> What Has Happened of All the web design ideas</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet corporis dicta eius
          eum ex, excepturi fugit in incidunt magni minus officia quaerat, quis soluta veniam voluptate voluptates voluptatibus voluptatum!</p>
        <a href="#">Read More</a>
      </div>
    </div>
    <!-- Diğer haber kutuları -->
  </div>
</div>
</div>

<script type="text/javascript" th:src="@{/js/nav.js}"></script>
</body>
<footer th:replace="footer.html"></footer>
</html>