<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="Navbar.html"></head>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>

</head>
<body>

  <div class="contact-section">
    <div class="contact-title">
      <h2>Bizimle İletişime GEÇ!</h2>
    </div>
    <div class="contact-box">
      <div class="contact form">
        <h3>Send a Message</h3>
        <form>
          <div class="formBox">
            <div class="row50">
              <div class="inputBox">
                <span>First Name</span>
                <input type="text" placeholder="Name">
              </div>
              <div class="inputBox">
                <span>Last Name</span>
                <input type="text" placeholder="Last Name">
              </div>
            </div>

            <div class="row50">
              <div class="inputBox">
                <span>Email</span>
                <input type="text" placeholder="example@email.com">
              </div>
              <div class="inputBox">
                <span>Mobile</span>
                <input type="text" placeholder="+90 537 800 6030">
              </div>
            </div>

            <div class="row100">
              <div class="inputBox">
                <span>Message</span>
                <textarea placeholder="Write your message..."></textarea>
              </div>
            </div>
            <div class="row100">
              <div class="inputBox">
                <input type="submit" value="Send">
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="contact info">
        <h3>Contact Info</h3>
        <div class="infoBox">
          <div>
            <span><ion-icon name="location"></ion-icon></span>
            <p>Istanbul, Silivri <br>Türkiye</p>
          </div>
          <div>
            <span><ion-icon name="mail"></ion-icon></span>
            <a href="mailto:loremipsum@email.com">loremipsum@email.com</a>
          </div>
          <div>
            <span><ion-icon name="call"></ion-icon></span>
            <a href="tel:+905533302302">+90 553 330 2302</a>
          </div>

          <ul class="sci">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a> </li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a> </li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a> </li>
            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a> </li>
          </ul>
        </div>
      </div>
      <div class="contact map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12034.
        743822026134!2d28.381255799999998!3d41.05399625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
        1!3m3!1m2!1s0x14b5401df5556b97%3A0xac12dabbee26c47!2sSelimpa%C5%9Fa%2C%2034590%20Silivri%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1711762783184!5m2!1str!2str"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>

<script type="text/javascript" th:src="@{/js/nav.js}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ioncions.js"></script>
</body>
<footer th:replace="footer.html"></footer>
</html>