<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
</body>
<footer class="footer">
    <div class="footer-header">
        <div class="footer-logo">
                <span class="footer-logo-text">LOGO</span>
        </div>
    </div>
    <div class="footer-content">
        <div class="footer-menu">
            <h3>Menü</h3>
            <ul>
                <li><a href="#">Anasayfa</a></li>
                <li><a href="#">Haberler</a></li>
                <li><a href="#">İletişim</a></li>
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">Yerleşkemiz</a></li>
                <li><a href="#">Videolar</a></li>
            </ul>
        </div>
        <div class="footer-newsletter">
            <h3>E-Bülten</h3>
            <p>Aşağıdaki formu doldurarak e-bültenimize kayıt olabilir ve duyurularımızdan ya da kampanyalardan ilk siz haberdar olabilirsiniz.</p>
            <form action="#" method="post">
                <input type="text" name="name" placeholder="İsim Soyisim" required>
                <input type="email" name="email" placeholder="E-mail Adresi" required>
                <button type="submit">Kayıt Ol</button>
            </form>
        </div>
        <div class="footer-contact">
            <h3>İletişim</h3>
            <p>Adres: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>E-posta: info@example.com</p>
            <p>Telefon: +90 123 456 78 90</p>
            <p>Telefon: +90 987 654 32 10</p>
            <div class="social-icons">
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
        </div>

    </div>
    <div class="footer-copyright">
        <p>&copy; 2024 Tüm Hakları Saklıdır.</p>
    </div>
</footer>

</html>