<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Uygulaması</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="quiz-app">
  <div class="welcome-message">
    <h1>Hoş Geldiniz!</h1>
  </div>

  <div class="quiz-categories">
    <h2>Quiz Kategorileri</h2>
    <ul>
      <li>Java</li>
      <li>C++</li>
      <li>Python</li>
    </ul>
  </div>

  <div class="recent-quizzes">
    <h2>Son Eklenen Quizler</h2>
    <ul>
      <li>Quiz 1</li>
      <li>Quiz 2</li>
      <li>Quiz 3</li>
    </ul>
  </div>
</div>

<script src="script.js"></script>
</body>
</html>
