<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="Navbar.html"></head>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Haberler</title>
</head>
<body>

  <section id="haberler">
    <div class="haberler-heading">
      <span>Tüm Haberler</span>
      <h3>Haberler</h3>
    </div>

    <div class="haberler-container">

      <div class="haberler-box">
        <div class="haberler-img">
          <img src = "/images/box3.png" alt="Haber">
        </div>

        <div class="haberler-text">
          <span>15 Mart 2023 / Kategori</span>
          <a href="/article" class="haberler-title"> What Has Happened of All the web design ideas</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet corporis dicta eius
            eum ex, excepturi fugit in incidunt magni minus officia quaerat, quis soluta veniam voluptate voluptates voluptatibus voluptatum!</p>
          <a href="#">Read More</a>
        </div>
      </div>

      <div class="haberler-box">
        <div class="haberler-img">
          <img src = "/images/box2.png" alt="Haber">
        </div>

        <div class="haberler-text">
          <span>15 Mart 2023 / DGKO</span>
          <a href="/article" class="haberler-title"> What Has Happened of All of the web design ideas</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet corporis dicta eius
            eum ex, excepturi fugit in incidunt magni minus officia quaerat, quis soluta veniam voluptate voluptates voluptatibus voluptatum!</p>
          <a href="#">Read More</a>
        </div>
      </div>

      <div class="haberler-box">
        <div class="haberler-img">
          <img src = "/images/box5.png" alt="Haber">
        </div>

        <div class="haberler-text">
          <span>15 Mart 2023 / DGKO</span>
          <a href="/article" class="haberler-title"> What Has Happened of All of the web design ideas</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet corporis dicta eius
            eum ex, excepturi fugit in incidunt magni minus officia quaerat, quis soluta veniam voluptate voluptates voluptatibus voluptatum!</p>
          <a href="#">Read More</a>
        </div>
      </div>

      <div class="haberler-box">
        <div class="haberler-img">
          <img src = "/images/indir.jpeg" alt="Haber">
        </div>

        <div class="haberler-text">
          <span>15 Mart 2023 / DGKO</span>
          <a href="/article" class="haberler-title"> What Has Happened of All the web design ideas</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet corporis dicta eius
            eum ex, excepturi fugit in incidunt magni minus officia quaerat, quis soluta veniam voluptate voluptates voluptatibus voluptatum!</p>
          <a href="#">Read More</a>
        </div>
      </div>

      <div class="haberler-box">
        <div class="haberler-img">
          <img src = "/images/Logo.jpeg" alt="Haber">
        </div>

        <div class="haberler-text">
          <span>15 Mart 2023 / DGKO</span>
          <a href="/article" class="haberler-title"> What Has Happened of All of the web design ideas</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet corporis dicta eius
            eum ex, excepturi fugit in incidunt magni minus officia quaerat, quis soluta veniam voluptate voluptates voluptatibus voluptatum!</p>
          <a href="/article">Read More</a>
        </div>

      </div>

      <div class="haberler-box">
        <div class="haberler-img">
          <img src = "/images/slide2.png" alt="Haber">
        </div>

        <div class="haberler-text">
          <span>15 Mart 2023 / DGKO</span>
          <a href="/article" class="haberler-title"> What Has Happened of All of the web design ideas</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet corporis dicta eius
            eum ex, excepturi fugit in incidunt magni minus officia quaerat, quis soluta veniam voluptate voluptates voluptatibus voluptatum!</p>
          <a href="/article">Read More</a>
        </div>

      </div>


    </div>
  </section>

<script type="text/javascript" th:src="@{/js/nav.js}"></script>
</body>
<footer th:replace="footer.html"></footer>
</html>